<!DOCTYPE html>
<html lang="en">
<head>
<!-- Le styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/melaniecebula.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
</head>


<body>

<div class="container">

<!-------->
<div id="content">
    <div id="header"> Melanie Cebula </div>
    <ul id="tabs" class="nav nav-pills custom" data-tabs="tabs">
        <li id ="tab1" class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li id="tab2"><a href="#about" data-toggle="tab">About Me</a></li>
        <li id="tab3"><a href="#projects" data-toggle="tab">Projects</a></li>
        <li id="tab4"><a href="#contact" data-toggle="tab">Contact</a></li>
        <li id="tab5"><a href="#blog" data-toggle="tab">Blog</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="home">
            <h1>Hello!</h1>
                <p>My name is <strong>Melanie</strong>.  I've just started my second year studying <strong>Computer Science</strong> at the <strong>University of California, Berkeley</strong>. I just finished my summer internship at Facebook, and this semester I am a reader for CS61A.  Besides software and web development, I'm interested in skill acquisition, instrumental music, cooking, and fitness.  Feel free to look around, or take a peek at my <a href="MelanieResume.pdf"> resume </a>.  I recommend looking at my recently updated Projects page.
                </p>
        </div>
        <div class="tab-pane" id="about">
            <h1>About Me</h1>
            <h2>My Musical Past</h2>
                <p>I really liked playing the upright bass.  Still do.  But I had actually planned on attending music conservatory.  I spent a lot of my time in high school commuting all around Southern California to learn, rehearse, and perform.  On occassion I would go upstate or tour with a group in a foreign country.</p>
                <p>When you first start playing an instrument, its the pressing things you work on: hand position, intonation, bow placement.  But the wonderful thing is, after a few years things begin to change.  You realize that if you play this note 'just so', with the bow at this speed, placed here, with this note being eased into, with this amount of vibrato, etc- you realize that this is exactly, perfectly what you want.  And if you can get not one or two notes, but perhaps an entire piece mastered in this way, the feeling is indescribable. </p>
                <br>
            <h2>Skill Acquisition</h2>
                <p>It took a lot of courage and honesty to realize that I didn't want to spend my entire life being just a musician; I wanted to spend my entire life acquiring and honing as many skills as I could.  I wanted the freedom to pursue not just one, but many wonderful, fascinating interests.</p>
                <p>And so, having not focused on classes or grades in many years, it was with trepidation that I applied to UC Berkeley.  But amazingly, I managed to get in, and I don't plan to waste a single minute.  </p>
                <br>
                <h2>Berkeley</h2>
                <p>I have just finished my freshman year at UC Berkeley, and plan on majoring in Computer Science.  I am grateful for the unparalleled opportunity of meeting the dedicated members of Hackers @ Berkeley on campus.  I look forward to more years learning, collaborating, and contributing with the brilliant students here. 
                </p>
                <h2>Facebook!</h2>
                <p>I've just started my first internship at Facebook.  I'm ridiculously excited about the the hacker culture here and hope to continue hacking in my spare time.  I will be working on mobile development.</p>
        </div>
        <div class="tab-pane" id="projects">
                <p><strong>Scheme Art Contest Submission:</strong>  My submission for the art contest at the end of CS61A.  Using the Scheme Interpreter that I built in Python, I implemented a module for Python Turtle Graphics that enables 3d graphics using perspective projection and some other cool math.  Used this to recreate Sierpinski's Triangles in 3D.  Written entirely in Scheme.  <strong>Won</strong> first place for the heavyweight division.  
                    <br> 
                        <a href="https://github.com/melaniecebula/scheme-contest/blob/master/contest.scm">view code</a>
                    </br>
                    <br>
                        <img class="projects" src="/img/triangles.png">
                    </br>
                </p>
            <h1>Team Projects</h1>
                <p><strong> Bartwith.me:</strong>  WIP.  BART with your friends!
                <p><strong>Geo.ly:</strong>  Find yo' friends in yo' browser.  Real-time navigation app to find your friends using HTML5 geolocation and the Google Maps API.  A compass directs you to your friend's location, while the map updates to show your locations relative to each other.  
                    <br><a href= "https://github.com/melaniecebula/geo.ly">view code</a></br>
                </p>
                <p><strong>Boxel (open-source contribution to voxel.js):</strong>  My friends and I dedicated a hackathon to creating a multiplayer Capture the Flag game for the multiplayer server for voxel.js, and minecraft-inspired voxel game built in the browser with Javascript.  Implemented team logic and block attributes for gameplay.  
                    <br> <a href= "https://github.com/melaniecebula/voxel-server">view code</a></br>
                </p>
                <p><strong>Rate My Cat:</strong> Where we get back to what the internet is at its core: <strong>cat pics.</strong>  Skills learned: MongoDB, Flask, PyMongo.  Look at the code on <a href= "https://github.com/melaniecebula/RateMyCat"> github.<strong></a>Want to see it <a href= "http://ratemycat.herokuapp.com/"> live? </a></strong>  I did the backend, and have recently done some of the frontend work as well.  <br><strong>Won</strong> 'Learned the Most' at Hackjam 2013. <img class="projects" src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/6548_10151284781071616_200829417_n.jpg" alt= "not showing"> <img class="projects" src="/img/cats.png">
                </p>
                <p><strong>My personal website!</strong>How self-referntial!  Skills learned: HTML5, CSS3, Twitter Bootstrap, Node.js, AWS, how the internet works, etc. 
                    <br><a href= "https://github.com/melaniecebula/personal-website">view code</a></br>
                    <br> <img class="projects" src="/img/personalwebsite.png" width="300" height="300">
                </p>
            <h1>Class Projects (code provided upon request)</h1>
                <p>
                    <strong>Scheme Interpreter:</strong>  Implemented an interpreter for Scheme in Python.
                </p>
                <p>
                    <strong>Plants vs Somebees:</strong>  Plants vs Zombies clone built in Python using OOP and class inheritance.
                </p>
                <p>
                    <strong>Tweet Analyzer:</strong>  Assigned tweet sentiment based on average sentiments on words in tweet, used location of tweet to make generalizations about keywords, sentiment, and population.
                </p>
                <p>
                    <strong>Hog (dice game):</strong>  Implemented a dice game with special rules and strategies in Python.
                </p>
        </div>
        <div class="tab-pane" id="contact">
            <h1>Say Hello!</h1>
            <p>I'm not famous, and only a little bit busy!  You can spam me in all of the following exciting ways:
                <br>
                <br> <a href="https://www.facebook.com/melanie.cebula">facebook</a>
                <br><a href="http://www.linkedin.com/profile/view?id=219087266&authType=name&authToken=S8Ai&locale=en_US&pvs=pp&trk=ppro_viewmore">linkedin<a>
                <br><a href="mailto:melaniecebula@berkeley.edu">email</a>
                <br><a href="https://github.com/melaniecebula">github</a>
                <br><a href="resume.pdf">resume</a>
                <br>
            </p>
        </div>
        <div class="tab-pane" id="blog">
            <h1>Thoughts</h1>
                <p>Nothing appears to be here!  (also, the blog project hasn't been started yet) ((and by that I mean <a href = "https://github.com/melaniecebula/RateMyCat"> rating cats took precedence.))</a></p>
        </div>
    </div>

</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // Javascript to enable link to tab
        /*
        var hash = document.location.hash;
        var prefix = "tab_";
        if (hash) {
            $('.nav a[href='+hash.replace(prefix,"")+']').tab('show');
        } 

        // Change hash for page-reload
        $('.nav a').on('shown', function (e) {
            window.location.hash = e.target.hash.replace("#", "#" + prefix);
        });
*/

          // Hashchange support for all modern browsers, and ie8+
          // Integrate Ben Alman's hashchange plugin for ie6-7 support
          // http://goo.gl/7ezFB
         
         
         $(window).on('load hashchange', function(data){
            console.log("Hashchange")
            console.log(data)   //hashchange is occurring 
         })

        $('#tabs').tab();
    });
</script>    
</div> <!-- container -->


<script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>
