<!DOCTYPE html>
<html lang="en">
<head>
<title>Melanie</title>
<!-- Le styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/melaniecebula.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
</head>


<body>

<div class="container">

<!-------->
<div id="content">
    <div id="header"> Melanie Cebula </div>
    <ul id="tabs" class="nav nav-pills custom" data-tabs="tabs">
        <li id ="tab1" class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li id="tab2"><a href="#about" data-toggle="tab">About Me</a></li>
        <li id="tab3"><a href="#projects" data-toggle="tab">Projects</a></li>
        <li id="tab4"><a href="#contact" data-toggle="tab">Contact</a></li>
        <li id="tab5"><a href="#teaching" data-toggle="tab">Teaching</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="home">
            <h1>Hello!</h1>
            <p>I'm <strong>Melanie</strong>!  I am a junior CS major at UC Berkeley, software engineer, Hackers@Berkeley officer, open source contributor, makeup artist, swing dancer, huge foodie, feminist, and classically trained musician!  I sometimes binge watch TLC shows.</p>
            <h2>Byte-Sized Advice</h2>
            <p>
              1.  Always push yourself and look for challenges.
              <br>2.  Call out sexism and unconscious bias, especially in yourself.
              <br>3.  Always move forward; turn challenges and setbacks into motivation.
              <br>4.  Don't subscribe to the engineer ego.
              <br>5.  Find mentors who are willing to support you and want to teach you everything they know.
              <br>6.  Seek out people who are different than you, who study things other than you do.
              <br>7.  Your GPA doesn't matter (unless you're going to grad school).  I repeat, please stop caring so much about your GPA.
              <br>8.  Study out of enjoyment, not obligation.  Take whatever classes you want while you can.
              <br>9.  Work on side projects, contribute to open source, find an internship.
              <br>10.  Above all else, your health is the most important.  All-nighters are terrible for you, don't brag about them and don't let other people brag about them.
              <br>11.  Mega-hackathons are overrated.
              <br>12.  Don't let yourself be pushed into less technical positions.
              <br>13.  Speak loudly and clearly, refuse to be talked over or dismissed.
              <br>14.  Abanadon the Fixed Mindset- adopt the Growth Mindset.  Failure is a part of the learning process.
              <br>15.  Explore different hobbies, studies, foods, people, and locations.
              <br>16.  Become an expert googler:  Google exceptions, errors, stack traces, buggy or unexpected behavior, CS topics you're confused about.
            </p>
            <h2>Favorite Food Places in Berkeley and SF</h2>
            <p>
            Favorite tapas/izakaya and Best in Berkeley:  Kiraku
            <br>Favorite burger:  Super Duper Burger (SF)
            <br>Favorite soul food: Angeline's
            <br>Favorite chinese:  Da Lian
            <br>Favorite thai: Dara, Lucky House Thai (Sunday Special)
            <br>Favorite smoothies:  Hummingbird Cafe
            <br>Favorite sandwhiches:  Gregoire
            <br>Favorite bar:  Beta Lounge
            <br>Favortite indian: Mehak Indian Cuisine (delivery)
            <br>Favorite noodles: Oriental Restaurant
            <br>Favorite soup: Soop
            <br>Favorite tea: Asha's
            <br>Favorite japanese:  Kirala
            <br>Favorite breakfast:  Sunnyside cafe
            <br>Favorite chocolatier: Chocolatier Blue
            <br>Favorite Michlein Star:  Gary Danko (SF)
            <br>RIP:  Slow, Biryani House
            </p>
        </div>
        <div class="tab-pane" id="about">
            <h1>About Me</h1>
            <h2>My Musical Past</h2>
              <p>Before college, I spent a lot of time playing classical and jazz music on the upright and electric bass.  I was pretty okay at it, and have some claims to fame. (I won the National School Orchestra Award and the Lois Armstrong Jazz Award, performed at California All-State Orchestra for two years, and spent some time playing with the Colburn Chamber Orchestra.)
            <h2>Trying New Things at UC Berkeley</h2>
            <p>A lot of my friends from that time have gone on to major in Music Performance and become professional musicians.  I think thats super cool.  I decided to try some out some new things instead.
              I thought it would be fun to take some Calculus and Computer Science classes, since I had never taken either before.  I also built this website, and learned some basic web development along the way.  I decided to get involved with Hackers@Berkeley and make some hacks in my spare time.  I won the CS61A Scheme Recursive Art Contest, and thought it was pretty funny that I had to use wikipedia to learn about how matrices work (in order to make my "art" look 3D).</p>
            <h2>Learning Intensifies</h2>
            <p>I was able to get a freshman internship at Facebook, the first year they decided to try that out- lucky me!  I learned a lot about iOS development.  Then I came back to school, and took some more classes.  I became a reader for CS61A, then head reader for CS61B.
              I returned to Facebook last summer as a regular software engineering intern, and worked on the Ads and Pages Team.  I worked with a lot of different teams, designers, and software engineers, since my project was interdisciplinary.  At this point, I had experienced sexism both in teaching CS and working at FB, and finally understood how pervasive it was.  
              I came back to school, declared Computer Science, and began TAing for CS61B while taking several upper div techs.  I spent a lot of time interviewing, looking for a good company with an interesting team and supportive mentor.  I failed a lot of interviews, and became disillusioned with a lot of companies.  However, I finally found a good fit, and will be working on Payments at Airbnb this summer!  I also recently began contributing to the <a href="https://github.com/datproject">dat project</a>.  My favorite thing about working with full-time open source developers is how chill, supportive, welcoming, and generally not-assholes they are.
            </p>
            <h2>Other Hobbies</h2>
            <p>I picked up other hobbies while in college.  In my spare time, I like to go swing dancing, try different makeup looks, travel, and eat delicious food!
              I think its important to be open to new ideas and new people, and to embrace who you are rather than try to fit a stereotype.</p> 
            

        </div>
        <div class="tab-pane" id="projects">
            <h1>Team Projects</h1>
                <p><strong>Movie Mashups:</strong>  Use a markov chain to mash two movie plots together.  Use a shitty classifier to identify main characters and only use one for maximum mashiness
                    <br><a href= "https://github.com/melaniecebula/mashups">view code</a></br>
                <p><strong>Pokepon:</strong>  Pokepon is a multiplayer game that combines the battle elements of the Pokemon game with the dance and rhythm elements of Patapon (a game sort of like Dance Dance Revolution). Start a battle, send the link to your friends, and type the battle commands in time with the beat of a song on your Soundcloud playlist. This game won the Firebase API award at the PennApps Hackathon in September 2013. I worked on this with Thanh Hai Mai,  Stephanie Djidjev, and Achal Dave. Pokepon uses HTML5, CSS, node.js, Express, Javascript, Firebase, and the Soundcloud API.
                    <br><a href= "https://github.com/thanhhaimai/pokepon">view code</a></br>
                    <br> <img class="projects" src="/img/pokemon.png" width="300" height="300">
                </p>
                <p><strong>Geo.ly:</strong>  Find yo' friends in yo' browser.  Real-time navigation app to find your friends using HTML5 geolocation and the Google Maps API.  A compass directs you to your friend's location, while the map updates to show your locations relative to each other.  
                    <br><a href= "https://github.com/melaniecebula/geo.ly">view code</a></br>
                    <br> <img class="projects" src="/img/geolypic.jpg" width="300" height="300">
                </p>
                <p><strong>Boxel (open-source contribution to voxel.js):</strong>  My friends and I dedicated a hackathon to creating a multiplayer Capture the Flag game for the multiplayer server for voxel.js, and minecraft-inspired voxel game built in the browser with Javascript.  Implemented team logic and block attributes for gameplay.  
                    <br> <a href= "https://github.com/melaniecebula/voxel-server">view code</a></br>
                </p>
                <p><strong>Rate My Cat:</strong>  Where we get back to what the internet is at its core: <strong>cat pics.</strong>  Skills learned: MongoDB, Flask, PyMongo.  Look at the code on <a href= "https://github.com/melaniecebula/RateMyCat"> github.<strong></a>Want to see it <a href= "http://ratemycat.herokuapp.com/"> live? </a></strong>  I did the backend, and have recently done some of the frontend work as well.  <br><strong>Won</strong> 'Learned the Most' at Hackjam 2013.  <img class="projects" src="/img/cats.png">
                </p>
                <p><strong>My personal website!</strong>How self-referntial!  Skills learned: HTML5, CSS3, Twitter Bootstrap, Node.js, AWS, how the internet works, etc. 
                    <br><a href= "https://github.com/melaniecebula/personal-website">view code</a></br>
                    <br> <img class="projects" src="/img/personalwebsite.png" width="300" height="300">
                </p>
            <h1>Solo Projects</h1>
            <p><strong>fb_graph:</strong> Messing around with d3.js
              <br> <a href="https://github.com/melaniecebula/fb_graph">view code</a>
              </p>
              <p><strong>Scheme Art Contest Submission:</strong>  My submission for the art contest at the end of CS61A.  Using the Scheme Interpreter that I built in Python, I implemented a module for Python Turtle Graphics that enables 3d graphics using perspective projection and some other cool math.  Used this to recreate Sierpinski's Triangles in 3D.  Written entirely in Scheme.  <strong>Won</strong> first place for the heavyweight division.  
                  <br> 
                      <a href="https://github.com/melaniecebula/scheme-contest/blob/master/contest.scm">view code</a>
                  </br>
                  <br>
                      <img class="projects" src="/img/triangles.png">
                  </br>
              </p>
            <h1>Class Projects (code provided upon request)</h1>
                <p><strong>Computer Vision:</strong> 
                  <br>
                  <a href="https://inst.eecs.berkeley.edu/~cs194-26/fa14/upload/files/proj1/cs194-em/cebula_melanie_proj1/">view website</a>
                  </br>
                  <br>
                    <img class="projects" src="/img/cv.png">
                    </br>
                </p>
        </div>
        <div class="tab-pane" id="contact">
            <h1>Say Hello!</h1>
            <p>I'm not famous, and only a little bit busy!  You can spam me in all of the following exciting ways:
                <br>
                <br> <a href="https://www.facebook.com/melanie.cebula">facebook</a>
                <br><a href="http://www.linkedin.com/profile/view?id=219087266&authType=name&authToken=S8Ai&locale=en_US&pvs=pp&trk=ppro_viewmore">linkedin<a>
                <br><a href="mailto:melaniecebula@berkeley.edu">email</a>
                <br><a href="https://github.com/melaniecebula">github</a>
                <br><a href="https://twitter.com/MelanieCebula">twitter</a>
                <br><a href="MelanieResume.pdf">resume</a>
                <br>
            </p>
        </div>
        <div class="tab-pane" id="teaching">
            <h1>Teaching</h1>
            <p>Here are some of my resources for teaching CS 61B
            <br>
            <a href="http://tinyurl.com/melanieCS61B">Feedback Form</a>
            <br>
            <a href="http://tinyurl.com/javainheritancecheatsheet">Java Inheritance Cheatsheet</a>
            <br>
            <a href="https://github.com/melaniecebula/CS61B-class-roster">Make a pull request to add your name to Melanie's Class Roster</a>
            </p>
        </div>
    </div>

</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // Javascript to enable link to tab
        /*
        var hash = document.location.hash;
        var prefix = "tab_";
        if (hash) {
            $('.nav a[href='+hash.replace(prefix,"")+']').tab('show');
        } 

        // Change hash for page-reload
        $('.nav a').on('shown', function (e) {
            window.location.hash = e.target.hash.replace("#", "#" + prefix);
        });
*/

          // Hashchange support for all modern browsers, and ie8+
          // Integrate Ben Alman's hashchange plugin for ie6-7 support
          // http://goo.gl/7ezFB
         
         
         $(window).on('load hashchange', function(data){
            console.log("Hashchange")
            console.log(data)   //hashchange is occurring 
         })

        $('#tabs').tab();
    });
</script>    
</div> <!-- container -->


<script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>
